[submodule "wild-flame/hello_app"]
	path = wild-flame/hello_app
	url = https://github.com/wild-flame/hello_app
[submodule "wild-flame/toy_app"]
	path = wild-flame/toy_app
	url = https://github.com/wild-flame/toy_app
[submodule "wild-flame/sample_app"]
	path = wild-flame/sample_app
	url = https://github.com/wild-flame/sample_app
[submodule "yongbo"]
	path = yongbo
	url = git@github.com:yongbo/HelloRails.git
[submodule "ynzkai/hello_app"]
	path = ynzkai/hello_app
	url = https://github.com/ynzkai/hello_app.git
