<!doctype html>
<% provide(:title,"About") %>
    <h1>About</h1>
      <p>
        About us.
        The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> is 
        a <a href="http://www.railstutorial.org/book">book</a> and <a href="http://screencasts.railstutorial.org/">screencast 
        for the tutorial. 
      </p>
